<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
        rel="stylesheet">
</head>


<body>
    <h2> Deep Learning in Action </h2>
    <div class="">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <center>
                    <h3>Text Summarization Using Neural Networks</h3>
                    <p> <b>Models</b>: bart_large - T5-base</p>
                </center>
                <div class="overlay">
                    <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
                </div>

                <h4> Input Text </h4>
                <textarea class="form-control txt_input"
                    id="txt_input"></textarea>
                <input type="file" id="fileInput"> 
                <h4> Parameters </h4>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="input_model">Model</label>
                        <select id="input_model" class="form-control">
                            <option selected>BART</option>
                            <option>T5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="max_words" id="label_max_words">max # words in summary: 50</label>
                        <input type="range" class="custom-range" min="50" max="200" value = 50 step="10" id="max_words">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="num_beams" id="label_num_beams"># beam search: 4</label>
                        <input type="range" class="custom-range" min="1" max="20" value="4" step="1" id="num_beams">
                    </div>

                    <div class="form-group col-md-3">
                        <label></label>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            id="btn-process">Generate</button>
                    </div>
                </div>

                <h4> Summary </h4><br />
                <textarea class="form-control txt_summary" id="input_summary" readonly> </textarea>
                <input value='Download As Text File' type='button' onclick='doDL(document.getElementById("input_summary").value)'/>

                <script type='text/javascript'>
                function doDL(s){
                    function dataUrl(data) {return "data:x-application/text," + escape(data);}
                    window.open(dataUrl(s));
                }
                </script>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>

</html>